.caro{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding-top: 10vmax;
    width: 800px;
}

.control-arrow {
	height: 20% ;
  }
@media only screen and (max-width: 600px) {
    .caro{
        width: 375px;
    }
  }
  .control-arrow{
    background-color: rgba(13, 49, 167, 0.233) !important;
  }
  .carousel-status{
    position: relative !important;
    height: 0px;
    width: 0px;
  }
  
